.pkmn-icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-color: transparent;
  background-repeat: no-repeat;
  image-rendering: pixelated;
  vertical-align: middle;
  flex-shrink: 0;
}
